@model IEnumerable<UserReadVM>;
@{
    ViewData["Title"] = "Home Page";
}
    <h1>Users</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.UserName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>

                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary me-1">Edit</a>
                    <form asp-action="Delete" asp-controller="Account" asp-route-id="@user.Id" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
                </tr>
            }
        </tbody>
    </table>


